<div class="content">
  <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="pacman">
    <p style="font-size: 20px; color: white">Cargando...</p>
  </ngx-spinner>
  <div class="page-header login-page header-filter" filter-color="black" style="background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('./assets/img/background-login2.jpg'); background-size: cover; background-position: bottom center;">
    <div class="container">
        <div class="col-lg-4 col-md-6 col-sm-6 ml-auto mr-auto">
            <div class="card text-center" style="width: 20rem; opacity: 0.8;">
                <div class="card-body">
                  <a href="https://sacr.com.ar"><img src="assets/img/logo-login.png" alt="SACR" style="width:30%;" /></a>
                  <br>
                  <br>
                  <h4 class="card-title">Sistema de Acceso Controlado Remotamente</h4>
                  <!-- <p class="card-text">Iniciar Sesión</p> -->
                  <form [formGroup]="loginForm">
                    <div class=" form-group">
                      <label>Usuario</label>
                      <input class="form-control" type="text" formControlName="user">
                    </div>
                    <div class=" form-group">
                      <label>Contraseña</label>
                      <input class="form-control" type="password" formControlName="pass">
                    </div>
                    <input type="submit" class="btn btn-primary" (click)="ingresar()" value="Ingresar">
                  </form>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
      <div class="container">
        <div class="copyright pull-right" style="color:#FFFFFF"> Hecho con <i class="fa fa-heart heart"></i> para la UTN - <b>SACR</b></div>
      </div>
    </footer>

  </div>
</div>
